body{
  margin:0;
}
.menuBar{
  /*overflow: hidden;*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgba(120, 144, 156, 0.75);
  color:white;

  font-size: 5em;


}
.menuBarContainer{

  display: flex;
  justify-content: center;

}
#title{
  margin-left:auto;
  color:white;


}
#logo{
  margin-left:auto;
  margin-right: 6px;
  margin-top: 5px;
  width: 1em;
  height:1em;

}
#logo img{
  width: 100%;
  height: auto;
}
.homeContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

}
.contentLogo{
  width: 50%;
  height: 50%;
  margin: 0;

}
.homePageMainContainer{
  /*padding-top: 50px;*/
  padding-top: 100px;
  font-size: 2em;
  text-align: center;

}
.onclick-menu {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    color:white;

}

.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0 5px 5px 5px;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    border-radius: 10% 10%;
    font-size: .5em;
    visibility: hidden;
    transition: visibility 0.5s;
    background-color: #78909c;
}
.onclick-menu-content a{
  color: white;
  text-decoration: none;


}

.onclick-menu-content li{
  list-style: none;
  padding: 2px;
  width: 100%;
  display: block;

}
.footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 2em;
  background-color: #78909c;
  opacity: .5
  color:white;
}
.footer div{
  color: white;
}
.footer div i{
  width: 1em;
}
.mainContainer{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  text-align: center;
}
.teamMember{
  text-align: left;
      font-size: 1.5em;
}
.inlineService{
  display: flex;
  justify-content: flex-start;

}
.inlineService img{
  padding-right: 10px;
}
.contactInfo{
  padding-bottom: 5px;
}
.contactService{
  text-align: left;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service p{
  padding: 0 10px;
  margin-bottom: 0;
    font-size: 1.5em;
}
.service ul{
  padding: 5px 10px;
  margin-top: 0;
  list-style: none;
}

/*.service div{
  margin: 5px;
}*/
.imgCentered{
  max-width: 50%;
  height: auto;
  margin: auto;
}
.imgLeft{
  float: left;
  margin: 10px;
  width: 50%;
  height: 50%;
}
 #teamMemberImg{
   float: left;
   margin: 10px;
   width: 50%;
   height: 50%;
 }

.bg2{
  display: inline;
  width: 49%;
  max-height: 260px;

}
.bg{
  display: inline;
  max-width: 100%;
  height: auto;
}


@media only screen and (min-device-width: 768px) {
/*@media (min-width:769px){*/
    .menuBar{
      font-size: 3em;
    }
    .homeContent p{
      margin: 0 10%;

    }
    .service, .service h2, .service img{
      margin-top: 0;
      margin-bottom:10px;
      padding-top: 0;
      padding-bottom:0;
      justify-content: flex-start;

    }
    .imgCentered, #teamMemberImg{
      width: 25%;
      height: auto;
    }

    .footer, .teamMember, .service p{
      font-size: 1em
    }
    .homePageMainContainer{
      position: relative;
      display: inline;
    }
    #homeMenuBar{
      position: relative;
      opacity: 1;
    }
    .homePageBG1, .homePageBG2{
      position: relative;
      opacity: 0.75;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      text-align: center;
      vertical-align: middle;
    }
    .bgContent{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin:0 30%;
      border-radius: 25px;
      text-align: center;
      background-color: rgba(120, 144, 156, 0.75);
      color: white;
    }
    .homePageBG1{
      min-height: 100vh;
      background-image: url("../img/web-design.jpg");
    }
    .homePageBG2{
      min-height: 400px;
      background-image: url("../img/macbook-mobile.jpg");
    }
    .bg, .bg2 {
      display: none;

    }
    .mainContainer{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .service{
      width: 50%;
    }

}
